.facebook-login-box {
	display:flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
 	width: 100%;
    height: 100vh;
 	// margin-top: 15vw;
  .omniauth-btn{
    background-color:white;
    width:400px;
    .welcome-image img{
    	width: 250px;
    	margin-top:40px;
    }
    .button{
    	background-color:#2F55A4;
    	color:white;
    	padding:20px;
    	height: 40px;
        border: 3px solid white;

    	i{
    		font-size:20px;
    		padding-right: 20px;
    	}
    }
    .button:hover{
        border: 3px solid #00b289;
    }
    .back-home{
        color:gray;
        font-size:0.9rem;
    }
    p{
    	font-size: 10px;
    	padding: 40px;
    }

  }
}
