<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cancelation of Subscription</h1>
    <p>Your subscription has been canceled</p>
  </body>
</html>
