javascript:
  var myCoords = new google.maps.LatLng("#{@page.content.dig('location', 'latitude')}", "#{@page.content.dig('location', 'longitude')}");
  var mapOptions = {
    center: myCoords,
    zoom: 18
  };
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  var marker = new google.maps.Marker({
    position: myCoords,
    map: map
  });