javascript:
  window.fbAsyncInit = function() {
    FB.init({
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.3'
    });
  };
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
.fb-customerchat logged_in_greeting=("Hi! How can we help you?") logged_out_greeting=("GoodBye!... Hope to see you soon.") minimized="false" page_id=(@page.content.dig('id')) 
/ theme_color="#459645" 
