javascript:
  var body = document.getElementsByTagName('body')[0];
  var template = JSON.parse(body.dataset.template);
  var fuitterColor = body.getElementsByClassName("fuitter-color");
  var fuitterTitle = document.getElementById("fuitter-title");
  var fuitterLogo = document.getElementById("fuitter-logo");
  
  if(template['properties'] !== null) {
    body.style.fontFamily = template['properties']['font']
    fuitterTitle.innerHTML = template['properties']['title'];
    for (let item of fuitterColor) {
      item.style.color = template['properties']['color'];
    }
  }
  
  const URL = window.location.protocol+ '//' + window.location.host;

  if(template['logo'].url !== null) {
    fuitterLogo.src = `${URL}${template['logo'].url}`
    fuitterLogo.style.maxHeight = '75px'
    fuitterLogo.style.maxWidth = 'auto'
  }
  
 
  
  