h2 This is index 

- if user_signed_in?
  = link_to 'Logout', destroy_user_session_path

p Email Address: #{current_user[:email]}

= button_to 'Sync', home_sync_path

h3 List of pages:
- @pages.each do |page|
  p= link_to page.name, templates_path(page)
