i Message received from #{@user_query[:name]}
br
h2 Message Details
p Name: #{@user_query[:name]}
p Email: #{@user_query[:email]}
p Subject: #{@user_query[:subject]}
p Message: #{@user_query[:message]}  