/*! dashboard.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Dashboard core file 
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
1. Resets and base setup
=============================================================================
***/

/* ==========================================================================
0. CSS Imports
========================================================================== */

// @import "partials/colors";
// @import "../../../node_modules/bulma/sass/utilities/_all";
// @import "../../../node_modules/bulma/sass/base/_all";
// @import "../../../node_modules/bulma/sass/elements/_all";
// @import "../../../node_modules/bulma/sass/components/_all";
// @import "../../../node_modules/bulma/sass/grid/_all";
// @import "../../../node_modules/bulma/sass/layout/_all";
// $tablet: 769px;
// $desktop: 800px !default;
// $navbar-breakpoint: $tablet;
// @import "../../../node_modules/bulma/bulma";
@import "partials/layout-colors";
@import "partials/dashboard";
@import "partials/layout-hero";
@import "partials/layout-sections";
@import "partials/layout-utils";
// @import "partials/pageloader";
@import "partials/layout-navbar";
@import "partials/tabs";
@import "partials/dropdowns";
@import "partials/buttons";
// @import "partials/animations";
@import "partials/cards";
@import "partials/forms";
@import "partials/accordion";
@import "partials/dialogs";
@import "partials/labels";
@import "partials/lists";
// @import "partials/tables";
// @import "partials/messages";
@import "partials/dashboard-layout";
@import "partials/dashboard-sidebar";
// @import "partials/dashboard-navbar";
// @import "partials/dashboard-right-sidebar";
// @import "partials/dashboard-feed";
// @import "partials/dashboard-widgets";
// @import "partials/dashboard-charts";
// @import "partials/dashboard-documents";
// @import "partials/dashboard-projects";
// @import "partials/dashboard-contacts";
// @import "partials/dashboard-kanban";
// @import "partials/dashboard-deal";
// @import "partials/dashboard-forum";
// @import "partials/dashboard-support";
// @import "partials/dashboard-datatables";
// @import "partials/dashboard-utils";
@import "partials/helpers";
// @import "partials/quickview";
// @import "partials/timeline";
// @import "partials/switch";
// @import "partials/extensions-checkboxes";
// @import "partials/dashboard-responsive";
@import "partials/pages-auth";
@import "partials/columns";
@import "partials/components-tables";

@import "partials/layout-responsive";

/* ==========================================================================
1. Resets and base setup
========================================================================== */

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-family: "Montserrat", sans-serif;
  overflow: hidden !important;
  background-color: $dashboard-grey;
  margin: 0 !important;
  height: 100% !important;
}

@font-face {
  font-family: "Nexa Light";
  src: url("../fonts/text/nexa/NexaLight.woff") format("woff"),
    url("../fonts/text/nexa/NexaLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nexa Bold";
  font-weight: bold;
  src: url("../fonts/text/nexa/NexaBold.woff") format("woff"),
    url("../fonts/text/nexa/NexaBold.ttf") format("truetype");
}

.fa {
  color: $grey-6;
}

.navbar-start {
  flex-grow: 1;
  justify-content: center;
}
// custom
.main-contain-area {
  padding: 3rem;
  flex-shrink: 0;
  flex-grow: 0;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 150px;
  // width: 80%;
  justify-items: center;
  margin-top: 75px;
  box-shadow: 2px 2px 2px grey;
  flex-basis: 85%;
  // display: flex;
  @media (max-width: 768px) {
    // background-color: pink;
    flex-basis: 100%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    margin-top: 35px;

    // flex-direction: row-reverse;
  }
  @media (min-width: 768px) and (max-width: 1100px) {
    flex-basis: 100%;
    margin-top: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  // background-color: white;
  .thead {
    background-color: darken($table-white, 10%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid darkgrey;
    color: black;
    font-size: x-large;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    height: 75px;
    @media screen and (max-width: 768px) {
      font-size: large;
      height: 50px;
    }
    .name {
      flex-shrink: 0;
      flex-grow: 0;

      padding-left: 2rem;
      @media screen and (max-width: 768px) {
        padding-left: 0.4rem;
      }
    }
    .view,
    .edit {
      flex-shrink: 0;
      flex-grow: 0;
      padding-right: 2rem;
      @media screen and (max-width: 768px) {
        padding-right: 1.5rem;
      }
    }
  }
  .dash-data {
    padding: 5px 5px;
    background-color: $table-white;
    display: flex;
    align-items: center;
    .data-logo {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 10%;
    }
    img {
      border-radius: 50%;
      margin-left: 20px;
      @media screen and (max-width: 768px) {
        margin-left: 0;
      }
    }
    .text {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 70%;
      color: black;
      padding-left: 3rem;
      font-size: large;
      font-family: sans-serif;
      @media screen and (max-width: 768px) {
        flex-basis: 60%;
        padding-left: 1.5rem;
        font-size: small;
      }
    }

    .condn {
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      justify-content: flex-end;
      flex-basis: 20%;
      font-size: small;
      a:first-child {
        margin-right: 2rem;
      }
      padding-right: 1rem;

      @media screen and (max-width: 768px) {
        flex-basis: 30%;
        padding: 0;
        margin-left: 0;
        a:first-child {
          margin-right: 0.2rem;
        }
      }
    }
    .condn-single {
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      justify-content: flex-end;
      flex-basis: 20%;
      font-size: small;
      padding: 0 3rem;
      margin-left: 2rem;
      @media screen and (max-width: 768px) {
        flex-basis: 30%;
        padding: 0;
        margin-left: 0;
      }
    }
  }
}
@media screen and (max-width: 700px) {
}
.sidebar-modi {
  // background-color: $sidebar;
  // height: 100vh;
  margin-bottom: 0;
  padding-bottom: 0;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 15%;
  height: 100vh;
}
@media (max-width: 1100px) {
  .sidebar-modi {
    display: none;
  }
}
