/*! dashboard.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Dashboard core file 
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
0. CSS Imports
1. Resets and base setup
=============================================================================
***/

/* ==========================================================================
0. CSS Imports
========================================================================== */

// @import "partials/colors";
// @import "../../../node_modules/bulma/sass/utilities/_all";
// @import "../../../node_modules/bulma/sass/base/_all";
// @import "../../../node_modules/bulma/sass/elements/_all";
// @import "../../../node_modules/bulma/sass/components/_all";
// @import "../../../node_modules/bulma/sass/grid/_all";
// @import "../../../node_modules/bulma/sass/layout/_all";
// $tablet: 769px;
// $desktop: 800px !default;
// $navbar-breakpoint: $tablet;
// @import "../../../node_modules/bulma/bulma";
@import "partials/layout-colors";
@import "partials/dashboard";
@import "partials/layout-hero";
@import "partials/layout-sections";
@import "partials/layout-utils";
// @import "partials/pageloader";
@import "partials/layout-navbar";
@import "partials/tabs";
@import "partials/dropdowns";
@import "partials/buttons";
// @import "partials/animations";
@import "partials/cards";
@import "partials/forms";
@import "partials/accordion";
@import "partials/dialogs";
@import "partials/labels";
@import "partials/lists";
// @import "partials/tables";
// @import "partials/messages";
@import "partials/dashboard-layout";
@import "partials/dashboard-sidebar";
// @import "partials/dashboard-navbar";
// @import "partials/dashboard-right-sidebar";
// @import "partials/dashboard-feed";
// @import "partials/dashboard-widgets";
// @import "partials/dashboard-charts";
// @import "partials/dashboard-documents";
// @import "partials/dashboard-projects";
// @import "partials/dashboard-contacts";
// @import "partials/dashboard-kanban";
// @import "partials/dashboard-deal";
// @import "partials/dashboard-forum";
// @import "partials/dashboard-support";
// @import "partials/dashboard-datatables";
// @import "partials/dashboard-utils";
@import "partials/helpers";
// @import "partials/quickview";
// @import "partials/timeline";
// @import "partials/switch";
// @import "partials/extensions-checkboxes";
// @import "partials/dashboard-responsive";
@import "partials/pages-auth";
@import "partials/columns";
@import "partials/components-tables";

@import "partials/layout-responsive";

/* ==========================================================================
1. Resets and base setup
========================================================================== */

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-family: "Montserrat", sans-serif;
  overflow: hidden !important;
  background-color: $dashboard-grey;
  margin: 0 !important;
  height: 100% !important;
}

@font-face {
  font-family: "Nexa Light";
  src: url("../fonts/text/nexa/NexaLight.woff") format("woff"),
    url("../fonts/text/nexa/NexaLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nexa Bold";
  font-weight: bold;
  src: url("../fonts/text/nexa/NexaBold.woff") format("woff"),
    url("../fonts/text/nexa/NexaBold.ttf") format("truetype");
}

.fa {
  color: $grey-6;
}

.navbar-start {
  flex-grow: 1;
  justify-content: center;
}
// custom
.main-contain-area {
  flex-shrink: 0;
  flex-grow: 0;
  overflow-x: auto;
  // width: 80%;
  justify-items: center;
  // display: flex;
  @media screen and (min-width: 768px) {
    // background-color: pink;
    margin-top: 100px;

    flex-basis: 85%;
    padding-left: 3%;
    padding-right: 3%;
    // flex-direction: row-reverse;
  }
  @media screen and (max-width: 768px) {
    // background-color: pink;
    margin-top: 75px;

    flex-basis: 100%;
    // padding-left: 0;
  }
  // background-color: white;
  .thead {
    // margin-top: 85px;
    // margin-left: 20px;
    // margin-right: 20px;
    // background-color: $sidebar;
    background-color: darken($table-white, 10%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid darkgrey;
    color: darken($icon-grey, 20%);
    font-size: x-large;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 75px;
    @media screen and (max-width: 768px) {
      // background-color: pink;
      font-size: large;
      height: 50px;
    }
    .logo {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 10%;
    }
    .name {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 50%;
    }
    .view .edit {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 50%;
    }
  }
  .dash-data {
    padding: 5px 5px;
    background-color: $table-white;
    display: flex;
    align-items: center;
    .data-logo {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 10%;
    }
    img {
      border-radius: 50%;
      margin-left: 20px;
    }
    .text {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 60%;
      color: darken($icon-grey, 20%);
      padding-left: 3rem;
      font-size: large;
      font-family: sans-serif;
      @media screen and (max-width: 768px) {
        font-size: medium;
      }
    }

    .condn {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 15%;
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
      }
      @media screen and (max-width: 768px) {
        padding-left: 0;
      }
      .data-edit {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: 15%;
      }
    }
  }
  .dash-data:hover {
    background-color: darken($table-white, 10%);
  }
}
@media screen and (max-width: 700px) {
  // .main-contain-area > .dash-data > .condn {
  //   background-color: pink;
  // }
}
.sidebar-modi {
  // background-color: $sidebar;
  // height: 100vh;
  margin-bottom: 0;
  padding-bottom: 0;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 15%;
  height: 100vh;
}
// @media screen and (max-width: 768px) {
//   .dash-data > .text {
//     color: darken($icon-grey, 20%);

//     font-size: normal;
//     font-family: sans-serif;
//   }
// }
